<div class="list">
  <mat-form-field>
    <mat-label>Search games</mat-label>
    <input matInput #searchText>
    <button mat-button *ngIf="searchText.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchText.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="list-container">
    <span *ngIf="(getGamesListIsExecuting$ | async)" class="loading-message">
      Loading...
    </span>
    <app-game *ngFor="let game of filterGames(gamesList, searchText.value)" [gameData]="game"></app-game>
  </div>
</div>
